@media (min-width: 320px) and (max-width: 768px),
(min-width: 768px) and (min-width: 1200px) {

/* GLOBAL STYLES */
	.page {
		margin: 0;
		padding: 0;
	}

	.background__header-offer {
		height: 100vh;
	}

	.header__logo--name-description {
		position: absolute;
		top: 30px;
		left: 65px;
	}

	.layout-positioner {
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		min-width: 290px;
	}

	.layout-positioner--desktop {
		display: flex;
	}

	.offer__flex {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 72vh;
	}

	.h2__styles--light-background,
	.number {
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 36px;
		color: #e12457;
		font-weight: bold;
	}

	.h2__styles--dark-background {
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 36px;
		color: white;
	}

	.h3__styles--light-background {
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 24px;
		color: black;
	}

	.h3__styles--dark-background {
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 24px;
		color: white;
	}

	.h3__smaller {
		font-size: 16px;
	}

	.h3__smaller {
		font-size: 14px;
	}

	.general-style__p,
	.header__logo--description,
	.page-footer__logo--description {
		font-family: "ProximaNova-Thin", "Arial", sans-serif;
		font-size: 14px;
		line-height: 24px;
		color: black;
		text-align: left;
	}

	.general-style__p--dark {
		color: white;
	}

	::placeholder {
		color: white;
	}


/* SCREEN 1: HEADER */
	.header__logo--image {
		margin-top: 30px;
	}

	.header__logo--name,
	.page-footer__logo--name {
		font-family: "ProximaNova-Semibold", "Arial", sans-serif;
		font-size: 16,8px;
		color: white;
		text-transform: uppercase;
		text-align: left;
	}

	.header__logo--description,
	.page-footer__logo--description {
		color: white;
		font-size: 12,6px;
	}

	.header__menu--open {
		position: absolute;
		content: "";
		top: 50px;
		right: 5%;
		width: 50px;
		height: 2px;
		background-color: white;
		border-radius: 20%;
	}

	.header__menu--open::before,
	.header__menu--open::after {
		position: absolute;
		content: "";
		bottom: 10px;
		width: 30px;
		height: 2px;
		background-color: white;
	}

	.header__menu--open::after {
		top: 10px;
		width: 20px;
	}

	.header__menu--content {
		position: fixed;
		margin: 0;
		padding: 0;
		padding-top: 5%;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 100;
	}

	.main-nav__wrapper {
		display: grid;
		grid-template-columns: 20% auto 20%;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.site-list__item {
		padding-top: 23%;
		font-size: 18px;
		text-align: center;
		color: white;
		border-bottom: 1px solid blue;
	}

	.header__menu--close::before,
	.header__menu--close::after,
	.video--close::before,
	.video--close::after {
		position: absolute;
		content: "";
		top: 7%;
		right: 25px;
		width: 40px;
		height: 4px;
		background-color: white;
		transform: rotate(45deg);
	}

	.header__menu--close::after,
	.video--close::after {
		transform: rotate(135deg);
	}

	.site-list__item:nth-child(1),
	.site-list__item:nth-child(2),
	.site-list__item:nth-child(3),
	.site-list__item:nth-child(4),
	.site-list__item:nth-child(5),
	.site-list__item:nth-child(6) {
		grid-column: 2 / 3;
	}


/* SCREEN 1: OFFER */
	.background__header-offer {
		min-height: 580px;
		background: url("../img/offer__background.jpg") no-repeat;
		background-size: cover;
	}

	.offer__video--open {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		height: 138px;
		width: 215px;
		box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.25);
		background: url("../img/offer__video-poster-2.jpg") no-repeat;
	}

	.video--content {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: black;
		z-index: 101;
	}

	.offer__video {
		/*position: absolute;*/
		width: 100%;
	}

	.offer__headind {
		font-family: "ProximaNova-Thin", "Arial", sans-serif;
		font-size: 14px;
		color: white;
		text-transform: uppercase;
		text-align: center;
	}

	.offer__headind--panteon {
		font-family: "ProximaNova-Regular", "Arial", sans-serif;
	}

	.offer__headind--mars {
		font-family: "ProximaNova-Black", "Arial", sans-serif;
		font-size: 70px;
	}

	.offer__button--image-background {
		position: relative;
		margin: -95px 0px 0px 0px;
	}

	.offer__description--position {
		margin-top: -28px;
		margin-left: 42%;
		max-width: 360px;
	}

	.offer__description--text {
		position: relative;
		top: 13px;
		font-family: "ProximaNova-Light", "Arial", sans-serif;
		font-size: 14px;
		color: white;
		text-align: left;
	}

	.offer__down--position {
		width: 60px;
		margin-left: auto;
		margin-right: auto;
	}

	.offer__down--container {
		top: 86.27vh;
		position: absolute;
		height: 60px;
		width: 60px;
		background-color: #b21d5f;
		border-radius: 50%;
	}

	.offer__down--arrow-motion {
		position: absolute;
		content: "";
		top: 35%;
		left: 47%;
		width: 12px;
		height: 2px;
		background-color: white;
		transform: rotate(135deg);
	}

	.offer__down--arrow-basis::before,
	.offer__down--arrow-basis::after {
		position: absolute;
		content: "";
		bottom: 50%;
		right: 47%;
		width: 12px;
		height: 2px;
		background-color: white;
		transform: rotate(135deg);
	}

	.offer__down--arrow-basis::after {
		left: 47%;
		transform: rotate(45deg);
	}

	.offer__down--arrow-basis::before {
		transform: rotate(45deg);
	}

	.offer__down--arrow-basis::after {
		transform: rotate(135deg);
	}


/* SCREEN 2: ABOUT-MARS */
	.about-mars__facts {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		background-color: #fff5f8;
		overflow: auto;
	}

	.about-mars__facts--bar {
		padding: 40px 0px 25px 15px;
		height: 100px;
		min-width: 145px;
		line-height: 18px;
	}

	.about-mars__background--image {
		height: auto;
		width: 100%;
	}


/* SCREEN 3: ELON-MUSK */
	.elon-musk__h2 {
		padding-top: 40px;
	}

	.elon-musk {
		background: url("../img/elon-musk__background.png") no-repeat;
		background-size: cover;
	}

	.elon-musk__blockquote {
		margin: 0;
		padding: 20px 0px 10px 0px;
		color: #e12457;
	}

	.elon-musk__image {
		width: 82%;
	}

	.elon-musk__p--margin {
		margin-bottom: 175px;
	}


/* SCREEN 4: FLIGHT-PRICE */
	.flight-price__background {
		background: url("../img/flight-price__background.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.flight-price__image-block {
		display: flex;
		justify-content: center;
	}

	.flight-price__image-block--image {
		margin-top: -145px;
	}

	.flight-price__h3 {
		padding-top: 10px;
	}

	.flight-price__p {
		padding-bottom: 20px;
	}

	.flight-price__p--bold {
		font-family: "ProximaNova-Semibold", "Arial", sans-serif;
	}

	.flight-price__span {
		font-family: "ProximaNova-Thin", "Arial", sans-serif;
		font-size: 60px;
		color: white;
	}

	.flight-price__form--text{
		padding-top: 15px;
		font-family: "ProximaNova-Thin", "Arial", sans-serif;
		font-size: 24px;
		color: white;
		background-color: transparent;
		border: 0px solid white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.75);
	}

	.flight-price__form--submit {
		margin: 45px 0px 55px 0px;
		height: 60px;
		width: 100%;
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 18px;
		color: #c69;
		background-color: white;
		border-radius: 50px;
		border: 0px solid black;
		box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.5);
	}


/* SCREEN 5: FAQ */
	.faq__background {
		margin-top: -30px;
		padding-bottom: 50px;
		background: url("../img/faq__background.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.faq__h2 {
		padding-top: 50px;
		margin-bottom: 45px;
	}

	.faq__video--poster {
		width: 100%;
	}

	.faq__h3 {
		padding-top: 20px;
	}

	.faq__block-1--open::before,
	.faq__block-1--open::after,
	.faq__block-1--close::before,
	.faq__block-1--close::after,
	.faq__block-2--open::before,
	.faq__block-2--open::after,
	.faq__block-2--close::before,
	.faq__block-2--close::after,
	.faq__block-3--open::before,
	.faq__block-3--open::after,
	.faq__block-3--close::before,
	.faq__block-3--close::after,
	.faq__block-4--open::before,
	.faq__block-4--open::after,
	.faq__block-4--close::before,
	.faq__block-4--close::after {
		position: absolute;
		content: "";
		margin-top: -24px;
		right: 25px;
		width: 12px;
		height: 2px;
		background-color: white;
		transform: rotate(45deg);
	}

	.faq__block-1--open::after,
	.faq__block-2--open::after,
	.faq__block-3--open::after,
	.faq__block-4--open::after {
		right: 17px;
		transform: rotate(135deg);
	}

	.faq__block-1--close::before,
	.faq__block-2--close::before,
	.faq__block-3--close::before,
	.faq__block-4--close::before {
		transform: rotate(135deg);
	}

	.faq__block-1--close::after,
	.faq__block-2--close::after,
	.faq__block-3--close::after,
	.faq__block-4--close::after {
		right: 17px;
		transform: rotate(45deg);
	}


/* SCREEN 6: INFRASTRUCTURE */
	.infrastructure__line {
		width: 25px;
		height: auto;
		background-color: red;
	}

	.infrastructure__flex,
	.infrastructure__icon--flex {
		display: flex;
	}

	.infrastructure__content--all {
		padding-left: 20px;
	}

	.infrastructure__icon {
		padding-bottom: 30px;
	}

	.infrastructure__icon--residence {
		height: 23px;
		width: 30px;
	}

	.infrastructure__icon--building {
		height: 19px;
		width: 26px;
	}

	.infrastructure__icon--science {
		height: 31px;
		width: 22px;
	}

	.infrastructure__icon--emotions {
		height: 21px;
		width: 25px;
	}

	.infrastructure__icon--ecology {
		height: 27px;
		width: 26px;
	}

	.infrastructure__h4 {
		position: absolute;
		margin: 0 0 0 45px;
		padding: 0;
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 17px;
		color: #e12457;
	}

	.infrastructure__img--residence,
	.infrastructure__img--building,
	.infrastructure__img--science,
	.infrastructure__img--emotions,
	.infrastructure__img--ecology {
		height: 125px;
		width: 262px;
		background: url("../img/infrastructure__img--residence.jpg") 50% 50% no-repeat;
	}

	.infrastructure__h3 {
		margin-top: 25px;
	}

	.infrastructure__button {
		margin: 15px 0 40px 0;
		padding: 15px 40px;
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 16px;
		color: white;
		background-color: #e12457;
		border: 0px solid #e12457;
		border-radius: 50px;
	}

/* SCREEN 7: SUBSCRIPTION */
	.subscription-page-footer__background {
		padding-bottom: 45px;
		width: auto;
		height: auto;
		background: url("../img/subscription__background--2.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.subscription__background {
		margin-top: 50px;
		padding-top: 25px;
		padding-bottom: 5px;
		background: url("../img/subscription__background.jpg") 50% 50% no-repeat;
		background-size: cover;
	}

	.subscription__h2 {
		padding-top: 50px;
		margin-bottom: 45px;
	}

	.subscription__form--flex {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.subscription__h3,
	.subscription__form--text,
	.subscription__form--email,
	.subscription__form--input {
		width: 81%;
	}

	.subscription__form--text,
	.subscription__form--email {
		padding-top: 15px;
		font-family: "ProximaNova-Thin", "Arial", sans-serif;
		font-size: 16px;
		color: white;
		background-color: transparent;
		border: 0px solid white;
		border-bottom: 1px solid rgba(255, 255, 255, 0.75);
	}

	.subscription__form--input {
		margin: 45px 0px 55px 0px;
		height: 60px;
		width: 83%;
		font-family: "ProximaNova-Bold", "Arial", sans-serif;
		font-size: 18px;
		color: #c69;
		background-color: white;
		border-radius: 50px;
		border: 0px solid black;
		box-shadow: 0px 0px 15px 2px rgba(255, 255, 255, 0.5);
	}


/* SCREEN 7: PAGE-HEADER */
	.page-footer__social-networks {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		padding-top: 55px;
		list-style: none;
	}

	.page-footer__social-networks--vk {
		width: 35px;
		height: 35px;
		background: url("../img/page-footer__social-networks--sprite.png") -4px -4px no-repeat;
	}

	.page-footer__social-networks--twitter {
		margin-left: 10px;
		width: 35px;
		height: 35px;
		background: url("../img/page-footer__social-networks--sprite.png") -4px -47px no-repeat;
	}

	.page-footer__social-networks--facebook {
		margin-left: 10px;
		width: 35px;
		height: 35px;
		background: url("../img/page-footer__social-networks--sprite.png") -47px -4px no-repeat;
	}

	.page-footer__social-networks--youtube {
		margin-top: 7px;
		margin-left: 10px;
		width: 35px;
		height: 35px;
		background: url("../img/page-footer__social-networks--sprite.png") -46px -47px no-repeat;
	}

	.page-footer__a--position {
		padding: 45px 0px;
		text-align: center;
	}

	.page-footer__logo--flex {
		display: flex;
		justify-content: center;
	}

	.page-footer__logo--name-description {
		margin-left: 10px;
	}

	.page-footer__a,
	.page-footer__logo--name,
	.page-footer__logo--description {
		color: rgba(255, 255, 255, 0.8);
	}

	.page-footer__logo--image {
		opacity: 0.8;
	}

	.visually-hidden {
		display: none;
	}
}