@media (min-width: 320px) {
	/*GLOBAL STYLES*/
	body {
		margin: 0;
		padding: 0;
	}

	.layout-positioner {
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		min-width: 290px;
	}

	.visually-hidden__mobile {
		display: none;
	}

	.h2__styles--light-background,
	.number {
		font-family: ProximaNova-Bold, "Arial", sans serif;
		font-size: 36px;
		color: #e12457;
	}

	.h2__styles--dark-background {
		font-family: ProximaNova-Bold, "Arial", sans serif;
		font-size: 36px;
		color: black;
	}

	.h3__styles--light-background {
		font-family: ProximaNova-Bold, "Arial", sans serif;
		font-size: 24px;
		color: black;
	}

	.h3__styles--dark-background {
		font-family: ProximaNova-Bold, "Arial", sans serif;
		font-size: 24px;
		color: black;
	}

	.h3__smaller {
		font-size: 16px;
	}

	.h3__smaller {
		font-size: 14px;
	}

	.p-styles,
	.header__logo--description {
		font-family: ProximaNova-Thin, "Arial", sans serif;
		font-size: 14px;
		color: black;
		text-align: left;
	}


	/*HEADER BLOCK*/
	.header__logo--image {
		margin-top: 20px;
	}

	.header__logo--name {
		font-family: ProximaNova-Semibold, "Arial", sans serif;
		font-size: 16,8px;
		color: white;
		text-transform: uppercase;
		text-align: left;
	}

	.header__logo--description {
		color: white;
		font-size: 12,6px;
	}

	.background__header-offer {
		min-height: 580px;
		background: url("img/offer__background.jpg") no-repeat;
		background-size: cover;
	}

	.screen4 video {
		width: 100%;
	}


	/*OFFER BLOCK*/
	.offer__headind {
		font-family: ProximaNova-Thin, "Arial", sans serif;
		font-size: 14px;
		color: white;
		text-transform: uppercase;
		text-align: center;
	}

	.offer__headind--panteon {
		font-family: "ProximaNova-Regular", "Arial", sans serif;
	}

	.offer__headind--mars {
		font-family: "ProximaNova-Black", "Arial", sans serif;
		font-size: 70px;
	}

	.offer__video-container {
		display: flex;
		justify-content: center;
	}

	.offer__video {
		width: 215px; 
		height: 140px;
	}

	.offer__button--image-background {
		position: relative;
		margin: -95px 0px 0px 0px;
	}

	.offer__description--limit {
		margin-top: -28px;
		margin-left: 42%;
		max-width: 360px;
	}

	.offer__description--text {
		font-family: ProximaNova-Light, "Arial", sans serif;
		font-size: 14px;
		color: white;
		text-align: left;
	}
}